private:
using func_type = void({{class_name}}::*)(const std::vector<const void*>&);
using const_func_type = void({{class_name}}::*)(const std::vector<const void*>&)const ;
static std::unordered_map<std::string, std::pair<func_type, std:vector<int>>> attr_func_map;
static std::unordered_map<std::string, std::pair<const_func_type, std:vector<int>>> attr_const_func_map;
static void init_attr_func_map(); // called in _static_constructor_

{{#attr_funcs}}
void attr_func_for_{{func_name}}(const std::vector<const void*>& data) {{is_const_func}}const{{is_const_func}};
{{/attr_funcs}}
public:
static bool has_attr_func(const std::string& func_name);
template <typename... Args>
static bool has_attr_func_with_args(const std::string& func_name);
static bool has_attr_const_func(const std::string& func_name);
template <typename... Args>
static bool has_attr_const_func_with_args(const std::string& func_name);
template <typename... Args>
bool call_attr_func(const std::string& func_name, const Args&... args) const;
template <typename... Args>
bool call_attr_mut_func(const std::string& func_name, const Args&... args);
private:

