public:
json encode() const
{
	json result = json::array();

	//begin base encode
	{{#bases}}
	result.push_back(spiritsaway::serialize::encode(static_cast<const {{base_type}}&>(*this)));
	{{/bases}}

	//begin encode_fields encode
	{{#encode_fields}}
	result.push_back(spiritsaway::serialize::encode({{field_name}}));
	{{/encode_fields}}
	return result;
}
private:
