public:
{{#property_fields}}
const decltype({{field_name}})& {{field_name}}_ref() const
{
    return {{field_name}};
}
meta::serialize::prop_proxy<decltype({{field_name}})> {{field_name}}_mut()
{
	return meta::serialize::prop_proxy({{field_name}}, _cmd_buffer, index_for_{{field_name}}, _cur_depth);
}
{{/property_fields}}
private:
