void {{class_full_name}}::register_types()
{
    auto cur_type_map = meta::utils::type_map<std::string>();
    {{#register_base_types}}
    cur_type_map.template register_base_type<{{{type_name}}}>("{{{type_name}}}");
    {{/register_base_types}}
}