
{{#stub_interface}}
void {{class_full_name}}::{{stub_interface_name}}()
{
    {{#components}}
    {{name}}.{{stub_interface_name}}(); // priority({{priority}})
    {{/components}}
}
{{/stub_interface}}

